.widget-weather {
  color: rgba(244,244,245,.6);
  display: block;
  position: relative;
  border-radius: 10px;
  background: rgba(0,0,0,.24);
  box-shadow: 0 25px 20px -20px rgb(0 0 0 / 10%), 0 0 15px rgb(0 0 0 / 6%);
}
.widget-weather.p-0 .widget-weather-body {
  padding: 0!important;
}



/* ---------------------- list view ---------------------- */

.badge {
  padding: 4px 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.badge {
  display: inline-block;
  padding: 0.4em;
  font-size: .875em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: initial;
  border-radius: 0.3rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge-danger {
  color: #f4f4f5;
  background-color: #db2a34;
}


.list-group {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.3rem;
}
.list-group:not(.list-group-sortable) .list-group-item {
    border-left: none;
    border-right: none;
}
.list-group-item:first-child {
    border-radius: 0;
}
.list-group .list-group-item {
    background-color: initial;
}
.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.list-group-item, .list-group-item:hover {
    color: rgba(244,244,245,.9);
}
.list-group-item {
    transition: background .15s ease-in-out;
}
.list-group-item-text{
  width: 100%;
}
.list-group-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
    background-color: #f4f4f5;
    border: 1px solid rgba(0,0,0,.125);
}
.list-sub-title{
  display: block;
  font-size: .8rem;
  color: rgba(244,244,245,.9);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-message {
  display: block;
  font-size: .8rem;
  color: rgba(244,244,245,.6);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.list-group:not(.list-group-sortable) .list-group-item {
  border-left: none;
  border-right: none;
}
.list-group .list-group-item:hover {
  background-color: rgba(0,0,0,.24);
}
.list-group-item, .list-group-item:hover {
  color: rgba(244,244,245,.9);
}
.list-group-item:hover {
  background: #f8f9fa;
}
.list-group-item:first-child {
  border-radius: 0;
}
.thumb, .thumb-lg, .thumb-sm, .thumb-xl, .thumb-xs {
  position: relative;
  display: inline-block;
  text-align: center;
}
.thumb-sm {
  width: 34px;
}
.thumb-lg img, .thumb-sm img, .thumb-xl img, .thumb-xs img, .thumb img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.rounded-circle {
  border-radius: 50%!important;
}

/* card widget */

.card-widget {
  color: rgba(244,244,245,.6);
  display: block;
  position: relative;
  margin-bottom: 40px;
  border-radius: 10px;
  background: rgba(0,0,0,.24);
  box-shadow: 0 25px 20px -20px rgb(0 0 0 / 10%), 0 0 15px rgb(0 0 0 / 6%);
}
.card-widget>.card-header {
  display: block;
  transition: padding .3s linear;
  padding: 15px 20px 0;
  color: rgba(244,244,245,.9);
  margin-top: 0;
}
.card-widget>.card-header h6 {
  margin: 0;
  color: rgba(244,244,245,.9);
}
.card-header-controls {
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  display: -webkit-flex;
  display: flex;
  padding: 14px;
  font-size: .875rem;
}
.card-header-controls button{
  display: -webkit-flex;
  display: flex;
  padding: 1px 4px;
  border-radius: 4px;
  color: #f4f4f5;
  background: 0 0;
  border: none;
  cursor: pointer;
  transition: color .15s ease-in-out;
}
.card-widget-body {
  padding: 15px 20px;
}
.card-widget .card-widget-body-details.undo_padding {
  margin: 15px -20px -9px;
}
.card-widget-footer {
  display: block;
  background-color: rgba(0,0,0,.24)!important;
  margin: 0.5rem -20px -15px;
  padding: 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* widget news */

.widget-news {
  color: rgba(244,244,245,.9);
  /* background: rgba(0,0,0,.24); */
  /* border-top-left-radius: 10px; */
  overflow: hidden;
}
.widget-news-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.widget-news-body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px 15px;
  /* min-height: 250px; */
}
.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 10px;
  margin: 0 0 1em;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.widget-news-body h4 {
  margin: 5px 0 ;
}
.widget-news-body p {
  font-size: 13px;
  color: rgba(244,244,245,.6);
}
.widget-news-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}
.widget-news-footer h5 {
  margin: 0;
}
.widget-news-footer small {
  color: rgba(244,244,245,.6);
}
.widget-news-footer-right a {
  text-decoration: none;
}

.tag-teal {
  background-color: #47bcd4;
  color: #fff;
}
.tag-purple {
  background-color: #5e76bf;
  color: #fff;
}
.tag-pink {
  background-color: #cd5b9f;
  color: #fff;
}


.widget-sytem-info h6 {
  color: rgba(244,244,245,.9);
}
.widget-sytem-info h6 {
  margin: 0;
  color: rgba(244,244,245,.9);
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2;
}
.widget-sytem-info-title {
  margin-top: 0;
  padding: 15px 20px 0;
}
.widget-sytem-info-title:after {
  display: block;
  clear: both;
  content: "";
}
.sub-title{
  font-size: 0.8rem;
  color: rgba(244,244,245,.6);
}
.widget-sytem-info-body {
  padding: 0px 20px 10px;
  display: block;
}
.fs-mini {
  font-size: .9rem;
  display: block;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.progress-xs {
  height: 5px;
}
.progress {
  height: 15px;
  margin-bottom: 0.5rem;
  background: #474d84;
}
.progress, .progress-bar {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}
.progress {
  height: 0.65rem;
  line-height: 0;
  font-size: .75rem;
  /* background-color: #e9ecef; */
  border-radius: 0.3rem;
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 10%);
}
.progress-bar {
  box-shadow: none;
}
.progress-bar {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  color: #f4f4f5;
  text-align: center;
  white-space: nowrap;
  background-color: #2477ff;
  transition: width .6s ease;
}
.progress, .progress-bar {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}
.progress-xs {
  height: 5px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.value0 {
  font-size: 54px;
}
.value0, .value1 {
  margin: 0;
  font-weight: 600;
}
.value6 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}




